@charset "utf-8";

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes rotateOut0deg {
    0% {
        -webkit-transform: rotate(0);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0deg);
        opacity: .6;
    }
}

@-moz-keyframes rotateOut0deg {
    0% {
        -moz-transform: rotate(0);
        opacity: 0;
    }

    100% {
        -moz-transform: rotate(0deg);
        opacity: .6;
    }
}

@-o-keyframes rotateOut0deg {
    0% {
        -o-transform: rotate(0);
        opacity: 0;
    }

    100% {
        -o-transform: rotate(0deg);
        opacity: .6;
    }
}

@keyframes rotateOut0deg {
    0% {
        transform: rotate(0);
        opacity: 0;
    }

    100% {
        transform: rotate(0deg);
        opacity: .6;
    }
}

@-webkit-keyframes rotateOut51deg {
    0% {
        -webkit-transform: rotate(20deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(51deg);
        opacity: .6;
    }
}

@-moz-keyframes rotateOut51deg {
    0% {
        -moz-transform: rotate(20deg);
        opacity: 0;
    }

    100% {
        -moz-transform: rotate(51deg);
        opacity: .6;
    }
}

@-o-keyframes rotateOut51deg {
    0% {
        -o-transform: rotate(20deg);
        opacity: 0;
    }

    100% {
        -o-transform: rotate(51deg);
        opacity: .6;
    }
}

@keyframes rotateOut51deg {
    0% {
        transform: rotate(20deg);
        opacity: 0;
    }

    100% {
        transform: rotate(51deg);
        opacity: .6;
    }
}

@-webkit-keyframes rotateOut102deg {
    0% {
        -webkit-transform: rotate(40deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(102deg);
        opacity: .6;
    }
}

@-moz-keyframes rotateOut102deg {
    0% {
        -moz-transform: rotate(40deg);
        opacity: 0;
    }

    100% {
        -moz-transform: rotate(102deg);
        opacity: .6;
    }
}

@-o-keyframes rotateOut102deg {
    0% {
        -o-transform: rotate(40deg);
        opacity: 0;
    }

    100% {
        -o-transform: rotate(102deg);
        opacity: .6;
    }
}

@keyframes rotateOut102deg {
    0% {
        transform: rotate(40deg);
        opacity: 0;
    }

    100% {
        transform: rotate(102deg);
        opacity: .6;
    }
}

@-webkit-keyframes rotateOut153deg {
    0% {
        -webkit-transform: rotate(60deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(153deg);
        opacity: .6;
    }
}

@-moz-keyframes rotateOut153deg {
    0% {
        -moz-transform: rotate(60deg);
        opacity: 0;
    }

    100% {
        -moz-transform: rotate(153deg);
        opacity: .6;
    }
}

@-o-keyframes rotateOut153deg {
    0% {
        -o-transform: rotate(60deg);
        opacity: 0;
    }

    100% {
        -o-transform: rotate(153deg);
        opacity: .6;
    }
}

@keyframes rotateOut153deg {
    0% {
        transform: rotate(60deg);
        opacity: 0;
    }

    100% {
        transform: rotate(153deg);
        opacity: .6;
    }
}

@-webkit-keyframes rotateOut204deg {
    0% {
        -webkit-transform: rotate(80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(204deg);
        opacity: .6;
    }
}

@-moz-keyframes rotateOut204deg {
    0% {
        -moz-transform: rotate(80deg);
        opacity: 0;
    }

    100% {
        -moz-transform: rotate(204deg);
        opacity: .6;
    }
}

@-o-keyframes rotateOut204deg {
    0% {
        -o-transform: rotate(80deg);
        opacity: 0;
    }

    100% {
        -o-transform: rotate(204deg);
        opacity: .6;
    }
}

@keyframes rotateOut204deg {
    0% {
        transform: rotate(80deg);
        opacity: 0;
    }

    100% {
        transform: rotate(204deg);
        opacity: .6;
    }
}

@-webkit-keyframes rotateOut255deg {
    0% {
        -webkit-transform: rotate(100deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(255deg);
        opacity: .6;
    }
}

@-moz-keyframes rotateOut255deg {
    0% {
        -moz-transform: rotate(100deg);
        opacity: 0;
    }

    100% {
        -moz-transform: rotate(255deg);
        opacity: .6;
    }
}

@-o-keyframes rotateOut255deg {
    0% {
        -o-transform: rotate(100deg);
        opacity: 0;
    }

    100% {
        -o-transform: rotate(255deg);
        opacity: .6;
    }
}

@keyframes rotateOut255deg {
    0% {
        transform: rotate(100deg);
        opacity: 0;
    }

    100% {
        transform: rotate(255deg);
        opacity: .6;
    }
}

@-webkit-keyframes rotateOut306deg {
    0% {
        -webkit-transform: rotate(120deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(306deg);
        opacity: .6;
    }
}

@-moz-keyframes rotateOut306deg {
    0% {
        -moz-transform: rotate(120deg);
        opacity: 0;
    }

    100% {
        -moz-transform: rotate(306deg);
        opacity: .6;
    }
}

@-o-keyframes rotateOut306deg {
    0% {
        -o-transform: rotate(120deg);
        opacity: 0;
    }

    100% {
        -o-transform: rotate(306deg);
        opacity: .6;
    }
}

@keyframes rotateOut306deg {
    0% {
        transform: rotate(120deg);
        opacity: 0;
    }

    100% {
        transform: rotate(306deg);
        opacity: .6;
    }
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scaleX(1) scaleY(1);
        -moz-transform: scaleX(1) scaleY(1);
        -o-transform: scaleX(1) scaleY(1);
        -ms-transform: scaleX(1) scaleY(1);
        transform: scaleX(1) scaleY(1);
    }

    100% {
        -webkit-transform: scaleX(1.2) scaleY(1.2);
        -moz-transform: scaleX(1.2) scaleY(1.2);
        -o-transform: scaleX(1.2) scaleY(1.2);
        -ms-transform: scaleX(1.2) scaleY(1.2);
        transform: scaleX(1.2) scaleY(1.2);
    }
}

@-moz-keyframes scale {
    0% {
        -webkit-transform: scaleX(1) scaleY(1);
        -moz-transform: scaleX(1) scaleY(1);
        -o-transform: scaleX(1) scaleY(1);
        -ms-transform: scaleX(1) scaleY(1);
        transform: scaleX(1) scaleY(1);
    }

    100% {
        -webkit-transform: scaleX(1.2) scaleY(1.2);
        -moz-transform: scaleX(1.2) scaleY(1.2);
        -o-transform: scaleX(1.2) scaleY(1.2);
        -ms-transform: scaleX(1.2) scaleY(1.2);
        transform: scaleX(1.2) scaleY(1.2);
    }
}

@-o-keyframes scale {
    0% {
        -webkit-transform: scaleX(1) scaleY(1);
        -moz-transform: scaleX(1) scaleY(1);
        -o-transform: scaleX(1) scaleY(1);
        -ms-transform: scaleX(1) scaleY(1);
        transform: scaleX(1) scaleY(1);
    }

    100% {
        -webkit-transform: scaleX(1.2) scaleY(1.2);
        -moz-transform: scaleX(1.2) scaleY(1.2);
        -o-transform: scaleX(1.2) scaleY(1.2);
        -ms-transform: scaleX(1.2) scaleY(1.2);
        transform: scaleX(1.2) scaleY(1.2);
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scaleX(1) scaleY(1);
        -moz-transform: scaleX(1) scaleY(1);
        -o-transform: scaleX(1) scaleY(1);
        -ms-transform: scaleX(1) scaleY(1);
        transform: scaleX(1) scaleY(1);
    }

    100% {
        -webkit-transform: scaleX(1.2) scaleY(1.2);
        -moz-transform: scaleX(1.2) scaleY(1.2);
        -o-transform: scaleX(1.2) scaleY(1.2);
        -ms-transform: scaleX(1.2) scaleY(1.2);
        transform: scaleX(1.2) scaleY(1.2);
    }
}

@-webkit-keyframes wave {
    0% {
        -webkit-transform: rotateX(72deg) scale3d(1, 1, 1);
        -moz-transform: rotateX(72deg) scale3d(1, 1, 1);
        -o-transform: rotateX(72deg) scale3d(1, 1, 1);
        -ms-transform: rotateX(72deg) scale3d(1, 1, 1);
        transform: rotateX(72deg) scale3d(1, 1, 1);
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        -moz-transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        -o-transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        -ms-transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }
}

@-moz-keyframes wave {
    0% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        -moz-transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        -o-transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        -ms-transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }
}

@-o-keyframes wave {
    0% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        -moz-transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        -o-transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        -ms-transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }
}

@keyframes wave {
    0% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        -moz-transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        -o-transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        -ms-transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        transform: rotateX(72deg) scale3d(1, 1, 1) scaleX(2.3) scaleY(1.8);
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }
}

.beam {
    background-image: url(http://127.0.0.1:8099/sprite-858c151030b5f22f585b9312cd0445b0-1-png8.png);
}

html {
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: #fff;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53";
}

div {
    margin: 0;
    padding: 0;
}

dl {
    margin: 0;
    padding: 0;
}

dt {
    margin: 0;
    padding: 0;
}

dd {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 500;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 500;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 500;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 500;
}

h5 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 500;
}

h6 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 500;
}

pre {
    margin: 0;
    padding: 0;
}

code {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

legend {
    margin: 0;
    padding: 0;
}

input {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53";
}

textarea {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53";
}

p {
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 0;
    padding: 0;
}

th {
    margin: 0;
    padding: 0;
    text-align: left;
    font-style: normal;
    font-weight: 500;
}

td {
    margin: 0;
    padding: 0;
}

hr {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53";
}

article {
    margin: 0;
    padding: 0;
    display: block;
}

aside {
    margin: 0;
    padding: 0;
    display: block;
}

details {
    margin: 0;
    padding: 0;
    display: block;
}

figcaption {
    margin: 0;
    padding: 0;
    display: block;
}

figure {
    margin: 0;
    padding: 0;
    display: block;
}

footer {
    margin: 0;
    padding: 0;
    display: block;
}

header {
    margin: 0;
    padding: 0;
    display: block;
}

hgroup {
    margin: 0;
    padding: 0;
    display: block;
}

menu {
    margin: 0;
    padding: 0;
    display: block;
}

nav {
    margin: 0;
    padding: 0;
    display: block;
}

section {
    margin: 0;
    padding: 0;
    display: block;
}

audio {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

canvas {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

select {
    font-size: 100%;
    font-family: tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53";
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
}

iframe {
    display: block;
}

abbr {
    border: 0;
    font-variant: normal;
}

acronym {
    border: 0;
    font-variant: normal;
}

del {
    text-decoration: line-through;
}

address {
    font-style: normal;
    font-weight: 500;
}

caption {
    font-style: normal;
    font-weight: 500;
    text-align: left;
}

cite {
    font-style: normal;
    font-weight: 500;
}

dfn {
    font-style: normal;
    font-weight: 500;
}

em {
    font-style: normal;
    font-weight: 500;
}

var {
    font-style: normal;
    font-weight: 500;
}

q:before {
    content: '';
}

q:after {
    content: '';
}

sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    bottom: -0.25em;
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}

a:link {
    color: #08c;
}

a:hover {
    color: #08c;
    text-decoration: underline;
}

ins {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.fn-clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.fn-clear {
    zoom: 1;
}

body .fn-hide {
    display: none;
}

.fn-left {
    display: inline;
    float: left;
}

.fn-right {
    display: inline;
    float: right;
}

.fn-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fn-linear {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f1f1f1));
    background: -moz-linear-gradient(top, #fcfcfc, #f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');
    background: -o-linear-gradient(top, #fcfcfc, #f1f1f1);
    background: linear-gradient(top, #fcfcfc, #f1f1f1);
}

.fn-linear-light {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f9f9f9));
    background: -moz-linear-gradient(top, #fcfcfc, #f9f9f9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');
    background: -o-linear-gradient(top, #fcfcfc, #f9f9f9);
    background: linear-gradient(top, #fcfcfc, #f9f9f9);
}

.fn-rmb {
    font-family: arial;
    font-style: normal;
    padding-right: 4px;
}

.fn-webkit-adjust {
    -webkit-text-size-adjust: none;
}

.content {
    width: 990px;
    margin: 0 auto;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

.picker.fadeIn {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    animation-name: fadeIn;
}

.picker {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    background-color: #f2f2f2;
    width: 133px;
    height: 133px;
    position: relative;
    border-radius: 50%;
}

.picker li {
    width: 38px;
    height: 38px;
    display: inline-block;
    position: absolute;
    left: 47.5px;
    top: 12px;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform-origin: 19px 54.5px;
    -moz-transform-origin: 19px 54.5px;
    -o-transform-origin: 19px 54.5px;
    -ms-transform-origin: 19px 54.5px;
    transform-origin: 19px 54.5px;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    -ms-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    color: inset 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}

.picker li a {
    display: block;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    text-indent: -9999px;
}

.ie6 .picker li {
    position: relative;
    left: 0;
    top: 0;
    float: left;
    width: 44.333333333333336px;
    heigth: 44.333333333333336px;
}

.ie7 .picker li {
    position: relative;
    left: 0;
    top: 0;
    float: left;
    width: 44.333333333333336px;
    heigth: 44.333333333333336px;
}

.ie8 .picker li {
    position: relative;
    left: 0;
    top: 0;
    float: left;
    width: 44.333333333333336px;
    heigth: 44.333333333333336px;
}

.picker.picker-render li.picker-silver {
    background-color: #C4C4C4;
    -webkit-animation-name: rotateOut0deg;
    -moz-animation-name: rotateOut0deg;
    -o-animation-name: rotateOut0deg;
    -ms-animation-name: rotateOut0deg;
    animation-name: rotateOut0deg;
}

.picker.picker-render li.picker-silver:hover {
    background-color: #ababab;
}

.picker.picker-render li.picker-purple {
    background-color: #B98BDC;
    -webkit-animation-name: rotateOut51deg;
    -moz-animation-name: rotateOut51deg;
    -o-animation-name: rotateOut51deg;
    -ms-animation-name: rotateOut51deg;
    animation-name: rotateOut51deg;
}

.picker.picker-render li.picker-purple:hover {
    background-color: #a164d0;
}

.picker.picker-render li.picker-citrus {
    background-color: #D1E210;
    -webkit-animation-name: rotateOut102deg;
    -moz-animation-name: rotateOut102deg;
    -o-animation-name: rotateOut102deg;
    -ms-animation-name: rotateOut102deg;
    animation-name: rotateOut102deg;
}

.picker.picker-render li.picker-citrus:hover {
    background-color: #a5b20d;
}

.picker.picker-render li.picker-blue {
    background-color: #00B1E3;
    -webkit-animation-name: rotateOut153deg;
    -moz-animation-name: rotateOut153deg;
    -o-animation-name: rotateOut153deg;
    -ms-animation-name: rotateOut153deg;
    animation-name: rotateOut153deg;
}

.picker.picker-render li.picker-blue:hover {
    background-color: #0089b0;
}

.picker.picker-render li.picker-green {
    background-color: #69C69D;
    -webkit-animation-name: rotateOut204deg;
    -moz-animation-name: rotateOut204deg;
    -o-animation-name: rotateOut204deg;
    -ms-animation-name: rotateOut204deg;
    animation-name: rotateOut204deg;
}

.picker.picker-render li.picker-green:hover {
    background-color: #45b785;
}

.picker.picker-render li.picker-slate {
    background-color: #70787C;
    -webkit-animation-name: rotateOut255deg;
    -moz-animation-name: rotateOut255deg;
    -o-animation-name: rotateOut255deg;
    -ms-animation-name: rotateOut255deg;
    animation-name: rotateOut255deg;
}

.picker.picker-render li.picker-slate:hover {
    background-color: #585e61;
}

.picker.picker-render li.picker-pink {
    background-color: #F18084;
    -webkit-animation-name: rotateOut306deg;
    -moz-animation-name: rotateOut306deg;
    -o-animation-name: rotateOut306deg;
    -ms-animation-name: rotateOut306deg;
    animation-name: rotateOut306deg;
}

.picker.picker-render li.picker-pink:hover {
    background-color: #ec5258;
}

.airport-content {
    background-color: #f6f6f6;
}

.beam {
    position: relative;
    width: 980px;
    height: 418px;
    background-position: 0 0;
}

.beam-item {
    position: absolute;
    -webkit-transition: opacity 950ms cubic-bezier(0.39 0.575 0.425 0.975);
    -moz-transition: opacity 950ms cubic-bezier(0.39 0.575 0.425 0.975);
    -o-transition: opacity 950ms cubic-bezier(0.39 0.575 0.425 0.975);
    -ms-transition: opacity 950ms cubic-bezier(0.39 0.575 0.425 0.975);
    transition: opacity 950ms cubic-bezier(0.39 0.575 0.425 0.975);
    background-image: -moz-radial-gradient(50% 50%, circle cover, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 35%, rgba(89, 177, 246, 0.8) 90%, rgba(89, 177, 246, 0.8) 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle cover, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 35%, rgba(89, 177, 246, 0.8) 90%, rgba(89, 177, 246, 0.8) 100%);
    background-image: -o-radial-gradient(50% 50%, circle cover, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 35%, rgba(89, 177, 246, 0.8) 90%, rgba(89, 177, 246, 0.8) 100%);
    background-image: radial-gradient(50% 50%, circle cover, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 35%, rgba(89, 177, 246, 0.8) 90%, rgba(89, 177, 246, 0.8) 100%);
    -webkit-border-radius: 628px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 628px;
    -moz-background-clip: padding;
    border-radius: 628px;
    background-clip: padding-box;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    -ms-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform: rotateX(72deg) scale3d(1, 1, 1);
    -moz-transform: rotateX(72deg) scale3d(1, 1, 1);
    -o-transform: rotateX(72deg) scale3d(1, 1, 1);
    -ms-transform: rotateX(72deg) scale3d(1, 1, 1);
    transform: rotateX(72deg) scale3d(1, 1, 1);
}

.beam-fastest {
    width: 100px;
    height: 100px;
    left: 390px;
    top: 89px;
    -webkit-animation-name: wave;
    -moz-animation-name: wave;
    -o-animation-name: wave;
    -ms-animation-name: wave;
    animation-name: wave;
}

.beam-faster {
    width: 300px;
    height: 300px;
    left: 290px;
    top: -1px;
    -webkit-animation-name: wave;
    -moz-animation-name: wave;
    -o-animation-name: wave;
    -ms-animation-name: wave;
    animation-name: wave;
}

.beam-fast {
    width: 500px;
    height: 500px;
    left: 190px;
    top: -91px;
    -webkit-animation-name: wave;
    -moz-animation-name: wave;
    -o-animation-name: wave;
    -ms-animation-name: wave;
    animation-name: wave;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .beam {
        background-image: url(http://127.0.0.1:8099/sprite-858c151030b5f22f585b9312cd0445b0-retina-1-png8.png);
        background-size: 980px 418px;
    }
}